@import url('https://fonts.googleapis.com/css?family=Oxanium|Roboto&display=swap');

html {
    background-color: #28ccdf;
}

body {
    background-color: #28ccdf;
    background: url("/assets/resources/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    color: #F4B41B;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxanium', cursive;
    margin: 1em;
}

a, a:visited, a:focus, a:hover {
    color: #E6482E;
    fill: #E6482E;
    text-decoration: none;
    transition: .15s;
}

    a img {
        border: 0;
    }

nav {
    display: flex;
    font-family: 'Oxanium', cursive;
    font-size: 1.25vw;
    background-color: #39314B;
}

    nav a, nav a:visited, nav a:focus {
        flex-grow: 1;
        text-decoration: none;
        transition: .15s;
    }

        nav a:hover {
            background-color: #E6482E;
            color: #302C2E;
            fill: #302C2E;
        }

footer {
    font-size: 1vw;
}

.container {
    background-color: #564064;
    position: relative;
    overflow: auto;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 50vw;
}

.content {
    position: relative;
    overflow: auto;
    padding: 5vw;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.twocol
{
	width: 50%;
	overflow: auto;
	float: left;
    padding: 0;
}

.screenshots
{
	overflow: auto;
}

@media (max-width: 800px)
{
    body
    {
        font-size: 4vw;
    }

    nav {
        display: flex;
        font-size: 2.5vw;
    }

    .container
    {
        max-width: 80vw;
    }

    .screenshots li {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    footer {
        font-size: 2.5vw;
    }
}